/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.col-2 {
    width: 16%;
    display: block;
    float: left;
}